<?xml version="1.0" encoding="UTF-8"?>
		<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DemoSuite" verbose="10" parallel="methods" thread-count="5">

<listeners>
	<listener class-name="com.monotype.mt_common_utils.testRailUtils.TestNgListener"></listener>
</listeners>

<test name="DummyAPISanityTest">

	<classes>
		<class name="tests.AppsTest"></class>
	</classes>
</test>
</suite>